{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/programmeProf/index.css')}}>
        {% endblock %}
{% block title %}Hello ProgrameEleveController!{% endblock %}

{% block body %}
<a class="button" href={{path('app_ajout_programme_index')}} type="submit">Ajouter</a>

<div class="container">
    {% for matiere in matieres %}
        {% if matiere.name == 'pas de matière' %}
            <h2>pas de matière</h2>
        {% else %}
            <div class="box">
                <p class="titre">Cours : {{matiere.name}} - Classe : 
                    {% for classe in matiere.classes %}
                        {{classe.classname}}
                    {% endfor %}
                </p>
                <table>
                    <tbody>
                        <thead>
                            <th>Programmes</th>
                        </thead>
                        {% for programme in matiere.programmes %}
                        <tr>
                            <td>{{programme.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
    {% endfor %}

</div>

{% endblock %}
