{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/admin/index.css')}}>
{% endblock %}

{% block body %}
    <div class="container">
        <a class="button" href={{path('app_admin_ajout')}}>Ajouter Admin</a>
        <div class="box">
            <table>
                <thead>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Rôles</th>
                </thead>
                {% for user in users %}
                    <tr>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.roles|first}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock %}
