{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/admin/index.css')}}>
{% endblock %}

{% block body %}
    <h1>Gestion :</h1>
    <a href={{path('app_admin_ajout')}}>Ajouter Admin</a>
    <div class="wrapper">
        <table>
            <tr class="tHead">
                <th>Prénom</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Rôles</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>---
                    <td>{{user.roles|first}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
