{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/noteEleve/index.css')}}>
        {% endblock %}
{% block title %}Hello NoteEleveController!{% endblock %}

{% block body %}
<div class="content">
    <div class="cadre">
        <p class="titre">Mes notes :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Notes</td>
                    <td>Nom du contrôle</td>
                    <td>Matières</td>
                    <td>formateurs</td>
                </tr>
                {% for controle in controles %}
                    <tr class="lignebleu">
                        <td>{{controle.note}}</td>
                        <td>{{controle.name}}</td>
                        <td>{{controle.matiere}}</td>
                        <td>{{controle.formateur}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
