{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/programmeEleve/index.css')}}>
        {% endblock %}
{% block title %}Hello ProgrameEleveController!{% endblock %}

{% block body %}

{% for matiere in matieres %}
{% if app.user.eleve %}
    <h2>Voici les Matières de votre stagiaire {{matiere.eleveFirstname}} {{matiere.eleveLastname}}  </h2>
{% endif %}
{% if matiere.name == 'Pas de matière pour le moment' or matiere.name == 'Vous n`avez pas de classe pour le moment' %}
        <h2>{{matiere.name}}</h2>
{% else %}
<div class="container">
    {% if app.user.eleve %}
        <h2>Voici les Matières de votre stagiaire {{matiere.eleveFirstname}} {{matiere.eleveLastname}}  </h2>
    {% endif %}
    <div class="box">

        <h2 class="titre">Cours : {{matiere.name}}</h2>
        <table>
            <thead>
                <th> Formateur : {{matiere.formateurLastname}} {{matiere.formateurFirstname}}</th>
            </thead>
            <tbody>
                <tr>
                    <td>Programmes</td>
                </tr>
                {% for programme in matiere.programmes %}
                <tr>
                    <td>{{programme.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
