{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/programmeEleve/index.css')}}>
        {% endblock %}
{% block title %}Programmes{% endblock %}

{% block body %}

{% for matiere in matieres %}
{% if matiere.name == 'Pas de matière pour le moment' or matiere.name == 'Vous n`avez pas de classe pour le moment' %}
        <h2>{{matiere.name}}</h2>
{% else %}
<div class="container">
    <div class="box">

        <h2 class="titre">Cours : {{matiere.name}}</h2>
        <table>
            <thead>
                <th>
                    Formateurs: {% for formateur in matiere.users %}
                        {{formateur.firstname}} {{formateur.lastname}};
                    {% endfor %}
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Programmes : </td>
                </tr> 
                {% for programme in matiere.programmes %}
                    {% if programme.name == "" %}
                    {% else %}
                        <tr>
                            <td>{{programme.name}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
