{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/crud/index.css')}}>
{% endblock %}
{% block title %}Classe index{% endblock %}

{% block body %}
<div class="container">
    <div class="box">
        <h1>Classe index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for classe in classes %}
                <tr>
                    <td>{{ classe.id }}</td>
                    <td>{{ classe.name }}</td>
                    <td>
                        <a href="{{ path('app_ajout_classe_show', {'id': classe.id}) }}"><img src="{{ asset('/img/voir.png') }}" alt="voir"></a>
                        <a href="{{ path('app_ajout_classe_edit', {'id': classe.id}) }}"><img src="{{ asset('/img/bouton-modifier.png')}}" alt="modif"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button" href="{{ path('app_ajout_classe_new') }}">Créer</a>
    </div>
</div>

{% endblock %}
