{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/crud/index.css')}}>
{% endblock %}
{% block title %}Classe{% endblock %}

{% block body %}
<div class="box">
    <h1>Classe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classe.name }}</td>
            </tr>
            <tr>
                <th>Eleve</th>
                {% for eleve in eleves%}
                <td>{{ eleve.lastname }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('app_ajout_classe_index') }}">Retour a la liste</a>

    <a class="button" href="{{ path('app_ajout_classe_edit', {'id': classe.id}) }}">Modifier</a>

    {{ include('ajout_classe/_delete_form.html.twig') }}
</div>
{% endblock %}
