<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Coucou!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href={{asset('css/index.css')}}>
        <link rel="stylesheet" href={{asset('css/reset.css')}}>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <img src={{asset('img/logo.png')}} alt="logo">
                {% if app.user.roles|first == "ROLE_ELEVE" or app.user.roles|first == "ROLE_TUTEUR"%}
                    <div class="bouttonFooter">
                        <a href={{path('app_home')}}>Accueil</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_programme_eleve')}}>Programmes</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_note_eleve')}}>Notes</a>
                    </div>
                {% elseif app.user.roles|first == "ROLE_FORMATEUR"%}
                    <div class="bouttonFooter">
                        <a href={{path('app_home')}}>Accueil</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_programme_prof')}}>Programmes</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_note_prof')}}>Notes</a>
                    </div>
                {% elseif app.user.roles|first == "ROLE_ADMIN"%}
                    <div class="bouttonFooter">
                        <a href={{path('app_home')}}>Accueil</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_admin')}}>Admin</a>
                    </div>
                    <div class="bouttonFooter">
                        <a href={{path('app_ajout_classe_index')}}>Classe</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        <div class="content">
            {% block body %}

            {% endblock %}
        </div>
        <footer>
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Programmes</a></li>
                    <li><a href="">Notes</a></li>
                </ul>

            <img src={{asset('img/logo.png')}} alt="logo">
            <div></div>
        </footer>
    </body>
</html>
