{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/crud/index.css')}}>
{% endblock %}
{% block title %}Controle index{% endblock %}

{% block body %}
<div class="box">
    <h1>Controle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for controle in controles %}
            <tr>
                <td>{{ controle.id }}</td>
                <td>{{ controle.name }}</td>
                <td>
                    <a href="{{ path('app_ajout_controle_show', {'id': controle.id}) }}"><img src="{{ asset('/img/voir.png') }}" alt="voir"></a>
                    <a href="{{ path('app_ajout_controle_edit', {'id': controle.id}) }}"><img src="{{ asset('/img/plus.png') }}" alt="ajouter"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_ajout_controle_new') }}">Créer</a>
</div>
{% endblock %}
