{% extends 'base.html.twig' %}

{% block title %}Controle{% endblock %}

{% block body %}
    <h1>Controle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ controle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ controle.name }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Notes</th>
                <th>Élèves</th>
            </tr>
            {% for note in notes %}
                <tr>
                    <th>{{note.note}}</th>
                    <th>{{note.firstname}} {{note.lastname}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ajout_controle_index') }}">back to list</a>

    <a href="{{ path('app_ajout_controle_edit', {'id': controle.id}) }}">edit</a>

    {{ include('ajout_controle/_delete_form.html.twig') }}
{% endblock %}
